<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h1>Play rock paper scissors!</h1>
    <form action="/game" method="post">
        <p>Player : <input id="player-1-namebox" type="text" name="player1"></p>
        <input id="names-submit" type="submit" value="Submit">
    </form>
</body>

</html>