<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>
        <%= name %> chose: <%= choice %>
    </h1>
    <h1>Computer chose: <%= computerChoice %>
    </h1>
    <p>
        <%= result %>!
    </p>
</body>

</html>